@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=IBM+Plex+Sans:wght@400;500;600&family=Luckiest+Guy&family=M+PLUS+Rounded+1c:wght@400;500;700;800&family=Montserrat:wght@400;700&display=swap");

/* universal selector */
* {
  padding: 0;
  margin: 0;
}

/* element selector */

body {
  font-family: "EB+Garamond", serif;
  font-size: 20px;
}

h1 {
  color: rgb(116, 182, 157);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h1:hover {
  font-weight: 700;
  text-transform: uppercase;
}

button:hover {
  transform: scale(3, 5) rotate(180deg);
}

p,
button {
  color: rgb(11, 235, 235);
}

li:active {
  text-decoration: underline;
  color: greenyellow;
}

/* class selector */
.penguin {
  color: rgba(0, 0, 255, 0.235);
}

.big-font {
  font-size: 1.5rem;
}

/* id selector */
#unique-id {
  border: 3px dashed rgb(222, 142, 133);
}
